.footer {
    width: 75vw;
    margin: auto;
    background: #1d1d1d;
    color: white;
    text-align: center;
    padding: 1em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}