.button {
    padding: 0 0.5em;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: unset;
    transition: 0.4s linear;
    cursor: pointer;

    &:hover {
        background: #ffffff;
        color: #000000;
        transition: 0.4s linear;
    }

    &-inverted {
        color: #000000;
        border: 1px solid #000000;
        padding: 0.5rem 1em;
        margin-left: 0.5em;

        &:hover {
            background: #000000;
            color: #ffffff;
        }
    }
}